.container{
	display:flex;
	

}

.tableContainer{
	flex:1;
	align-content:space-between;
}

.freezerContainer{
	display:flex;
	flex: 1;
	justify-content: flex-end;
}

.ovenandpickupContainer{
	flex:1;
	align-content:space-between;

}

.computer{
    position:absolute;
    top: 0px;
    right: 30px;
}

.computerpickup{
	position:absolute;
    bottom: 75px;
    left: 250px;
}

.topspace{
	padding-top: 50px
}

#leftspace {
	position:absolute;
	top: 75px;
    left: 150px;
}

#leftspacebottom{
	position:absolute;
    left: 150px;
}	

#pizzapickup{
	position:absolute;
    left: 130px;
}

@keyframes walk {
			from {
				top: 10px;
				left: 300px;
			}

			to {
				top: 10px;
				left: 950px;
			}
		}
#pizza-man {
				top:10px;
				left:500px;
				position: absolute;
				animation-name: walk;
				animation-duration:3s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
		}

		.paused{
		    -webkit-animation-play-state:paused;
		    -moz-animation-play-state:paused;
		    -o-animation-play-state:paused; 
		    animation-play-state:paused;
		}

		#pizza-frozen{
			top:500px;
				right:300px;
				position:absolute;
				animation-name: frozenWalk;
				animation-duration:3s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
		}
		
		@keyframes frozenWalk {
			from {
				right: 150px;
				top:300px;
			}

			to {
				top: 600px;
				right: 250px;
			}
		}
		#pizza-cooked{
			top:800px;
				right:300px;
				position:absolute;
				animation-name: cookedWalk;
				animation-duration:3s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
		}

		@keyframes cookedWalk {
			from {
				left: 450px;
				top:550px;
			}

			to {
				left: 150px;
				top: 500px;
			}
		}